<section class="content">
	<div class="row">
		<div class="col-sm-12">
			<div class="box box-solid">
				<div class="box-header with-border">
					<i class="fa fa-list-ul"></i>
					<h3 class="box-title">Tipo</h3>
				</div>
				<div class="box-body">
				<abn-tree tree-data="treeview" on-select="selectedBranch(branch)" tree-control="my_tree"></abn-tree>
				</div>
			</div>
			<button class="btn btn-primary" ng-click="modal.item.open(null)">Criar Categoria</button>
			<button class="btn btn-primary" ng-show="selected != null" ng-click="modal.item.open(selected, true)">Editar</button>
			<button class="btn btn-primary" ng-show="selected != null" ng-click="modal.item.open(selected, false)">Criar Filho</button>
		</div>
	</div>
</section>
