<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Novo Tipo</h3>
</div>
<div class="modal-body" id="modal-body">
    <div ng-show="itemPai != {} && itemPai != null && edit == false ">
    <label>Item Pai:</label>
    <input class="form-control form-group" value="{{itemPai.label}}" disabled>
    </div>
    <label>Nome do Item:</label>
    <input class="form-control form-group" ng-model="item.nmeTipo">
    <label>Sla em Minutos:</label>
    <input class="form-control form-group" ng-model="item.sla">
    <label>Área:</label>
    <select class="form-control form-group" ng-model="item.area.id">
    	<option value="">Selecione um registro</option>
    	<option value="{{row.id}}" ng-repeat="row in area">{{row.nome}}</option>
    </select>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="salvar()">Salvar</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>