<div>
	<section class="content-header">
		<h1>
			Cadastro de Serviços
			<small></small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#/servico/consulta">Serviço</a></li>
			<li class="active">Cadastro</li>
		</ol>
	</section>
	<section class="content">
		<!-- form start -->
		<form class="form-horizontal" name = "ServicoForm" action="" novalidate>
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">Cadastro de Serviços</h3>
				</div>
				<div class="box-body">
					<div class="col-sm-12">
						<form action="" class="form-inline" novalidate>
							<label>Fornecedor</label>
								<select class="form-control" ng-model="servico.fornecedor" ng-options="item as 
								item.fantasia for item in listFornecedor track by item.id" required>
									<option value="">Seleciona um registro</option>
								</select>
							<div class="form-group">

							<div class="col-sm-6">
								<label>Tipo Servico</label>
								<select class="form-control" ng-model="servico.tipo" ng-options="item as item.nome for item in listAllTipo track by item.id"  required>
									<option value="">Seleciona um registro</option>
								</select>
							</div>

							<div class="col-sm-6">
								<label>Nome</label>
								<input type="text" class="form-control" ng-model="servico.nome"  placeholder="Digite seu Servico" require>
							</div>

							<div class="col-sm-6">
								<label>Descrição</label>
								<input type="text" class="form-control" ng-model="servico.descricao"  placeholder="Digite sua função" require>
							</div>

							<div class="col-sm-6">
								<label>Valor</label>
								<input type="text" class="form-control" ng-model="servico.valor" placeholder="Insira valor do Serviço" required>
							</div>						
							</div>
						</form>
					</div>
				</div>
				<div class="box-footer">
				    <input class="btn btn-primary pull-right" type="reset" value="Limpar"/>
					<input class="btn btn-success pull-right" ng-click="salvarServico()" ng-disabled="ServicoForm.$invalid"  type="button" value="Salvar">
					<a href="#/servico/consulta" class="btn btn-primary" role="button">Voltar para Pesquisa</a>
				</div>

			</div>
		</form>			
	</section>
</div>