<div ng-cloak>
	<section class="content-header">
		<h1>
			Lista de Serviços
			<small></small>
		</h1>
			<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#/servico/consulta">Serviços</a></li>
			<li class="active">Consulta de Serviços</li>
		</ol>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Serviços Disponíveis</h3>
						<div class="box-tools">
							<div class="input-group" style="width: 150px;">
								<input type="text" name="table_search" class="form-control input-sm pull-right" ng-model="nomeSearch" placeholder="Buscar...">
								<div class="input-group-btn">
									<button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
								</div>
							</div>
						</div>
					</div><!-- /.box-header -->
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tr>
								<th>Fornecedor</th>
								<th>Serviço</th>
								<th>Tipo</th>
								<th></th>
								<th></th>
								<th></th>
							</tr>
							<tr ng-repeat="row in listaServico| filter: nomeSearch">
								<td>{{row.fornecedor.fantasia}}</td>
								<td>{{row.nome}}</td>
								<td>{{row.tipo.nome}}</td>
								<td>
									<a href="#/servico/cadastro/{{row.id}}">
										<i class="glyphicon glyphicon-pencil" ></i>
									</a>
								</td>
								<td>
									<i class="glyphicon glyphicon-remove click" ng-click="deletarServico(row)"></i>   
								</td>
							</tr> 

						</table>
						<div class="box-footer">
					<a href="#/servico/cadastro" class="btn btn-primary" role="button">Novo Serviço</a>
					</div><!-- /.box-body -->
				
				</div><!-- /.box
				 -->
			</div>
		</div>
	</section>
</div>