<!DOCTYPE html>
<html ng-app="ape">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>APE | Dashboard</title>
	<base href="/ape/">
	<!-- Tell the browser to be responsive to screen width -->
	
	<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	
	<!-- Bootstrap 3.3.5 -->
	<link rel="stylesheet" href="styles/vendor/bootstrap/css/bootstrap.min.css">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="styles/vendor/fontawesome/font-awesome.min.css">
	<!-- Ionicons -->
	<link rel="stylesheet" href="styles/vendor/ionicons/ionicons.min.css">
	<!-- jvectormap -->
	<link rel="stylesheet" href="styles/vendor/jvectormap/jquery-jvectormap-1.2.2.css">
	<!-- Theme style -->
	<link rel="stylesheet" href="styles/vendor/AdminLTE.css">
	<!-- AdminLTE Skins. Choose a skin from the css/skins
	folder instead of downloading all of them to reduce the load. -->
	<link rel="stylesheet" href="styles/vendor/skins/_all-skins.min.css">
	<link rel="stylesheet" href="styles/vendor/style.css">
	<link rel="stylesheet" href="styles/vendor/toastr/toastr.min.css">
	<link rel="stylesheet" href="styles/vendor/multiSelect/select.css">
	<link rel="stylesheet" href="styles/vendor/abn-tree.css">
	<link rel='stylesheet' href='styles/vendor/load-bar.css' type='text/css' media='all' />
	<style type="text/css">
		[ng\:cloak], [ng-cloak], .ng-cloak {
		display: none !important;
		}
	</style>
 
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		
	
</head>

	<body class	="hold-transition skin-blue-light sidebar-mini waiting" ng-controller="ResourceController"  ng-class="{complete: pageComplete}" ng-cloak>
		<div class="wrapper">

			<header class="main-header" ng-hide="especifico" >

				<!-- Logo -->
				<a ui-sref="dashboard" class="logo">
					<!-- mini logo for sidebar mini 50x50 pixels -->
					<span class="logo-mini"><b>A</b>PE</span>
					<!-- logo for regular state and mobile devices -->
					<span class="logo-lg"><b>APE</b>1.0</span>
				</a>

				<!-- Header Navbar: style can be found in header.less -->
				<nav class="navbar navbar-static-top" role="navigation">
					<!-- Sidebar toggle button-->
					<a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
						<span class="sr-only">Toggle navigation</span>
					</a>
										
					<!-- Navbar Right Menu -->
					<div class="navbar-custom-menu">
						<ul class="nav navbar-nav">
							<!-- Messages: style can be found in dropdown.less-->
							<li class="dropdown messages-menu">
								<a href="" class="dropdown-toggle" data-toggle="dropdown">
									<i class="fa fa-ticket"></i>
									<span ng-show="userInfo.atendimentos.length > 0" class="label label-danger">{{userInfo.atendimentos.length}}</span>
								</a>
								<ul class="dropdown-menu">
									<li class="header text-center">Atendimentos</li>
									<li>
										<!-- inner menu: contains the actual data -->
										<ul class="menu">
											<li ng-show="userInfo.atendimentos.length > 0" ng-repeat="atendimento in userInfo.atendimentos"><!-- start atendimento -->
												<a ui-sref="atendimento({'idAtendimento':  atendimento.id  })">
													<div class="pull-left">
														<img src="img/no-people.png" class="img-circle" alt="User Image">
													</div>
													<h4>
														#{{atendimento.id}} - {{atendimento.cliente.nome}}
														<small><i class="fa fa-clock-o"></i> {{atendimento.dtaInicio}}</small>
													</h4>
													<p></p>
												</a>
											</li><!-- end atendimento -->
											<li ng-show="userInfo.atendimentos.length == 0">
												<a>
													<p>Nenhum atendimento no momento</p>
												</a>
											</li>
										</ul>
									</li>
									<li class="footer"><a href="">Ver Histórico</a></li>
								</ul>
							</li>
							
							<!-- Lista de ocorrencia -->
							<li class="dropdown messages-menu" ng-show= "1 == 2">
								<a href="" class="dropdown-toggle" data-toggle="dropdown">
									<i class="fa fa-tasks"></i>
									<span ng-show="userInfo.ocorrencias.length > 0" class="label label-success">{{userInfo.ocorrencias.length}}</span>
								</a>
								<ul class="dropdown-menu">
									<li class="header text-center">Ocorrências</li>
									<li>
										<!-- inner menu: contains the actual data -->
										<ul class="menu">
											<li ng-repeat="row in userInfo.ocorrencias" ><!-- start atendimento -->
												<a href="#/ocorrencia/{{row.id}}" class="">
													<div class="col-sm-2">
														<div class="row">
															<small class="label bg-green">
																{{row.prioridade.nmePrioridade}}
															</small>
														</div>
													</div>
													<div class="col-sm-6 text-left"  >
														<div class="row">
															<small class="label label-ocorrencia lblCliente" ng-show="row.cliente != null">
																{{row.cliente.nome}}
															</small>
															<small class="label label-ocorrencia lblCliente" ng-show="row.cliente == null">
																CLIENTE NÃO IDENTIFICADO
															</small>
														</div>
													</div>
													<div class="col-sm-4 " ng-click="finalizarOcorrencia($event, row.ocorrencia)" ng-hide="true">
														<div class="row">
															<small class="label pull-right bg-red">
																FINALIZAR
															</small>
														</div>
													</div>
													<div class="pull-right clean text-gray text-right">
														<small class=""><i class="fa fa-clock-o"></i>
															{{row.dataInicio}}
														</small>
													</div>
												</a>
											</li><!-- end atendimento -->
											<li ng-show="userInfo.ocorrencia.length == 0 ">
												<a>
													<p>Nenhuma ocorrencia no momento</p>
												</a>
											</li>
										</ul>
									</li>
									<li class="footer"><a href="">Ver Histórico</a></li>
								</ul>
							</li>
							
							
							
							<!-- Notifications: style can be found in dropdown.less -->
							<li class="dropdown notifications-menu">
								<a href="" class="dropdown-toggle" data-toggle="dropdown">
									<i class="fa fa-bell-o"></i>
									<span class="label label-warning">0</span>
								</a>
								<ul class="dropdown-menu">
									<li class="header">Nenhuma notificação</li>
									<li>
										<!-- inner menu: contains the actual data -->
										<ul class="menu">
										</ul>
									</li>
									<li class="footer"><a href="">View all</a></li>
								</ul>
							</li>
							<!-- User Account: style can be found in dropdown.less -->
							<li class="dropdown user user-menu">
								<a href="" class="dropdown-toggle" data-toggle="dropdown">
									<img ng-src="img/{{userInfo.username}}.png" err-src="img/no-people.png" class="user-image" alt="User Image">
									<span class="hidden-xs">{{userInfo.username}}</span>
								</a>
								<ul class="dropdown-menu">
									<!-- User image -->
									<li class="user-header">
										<img ng-src="img/{{userInfo.username}}.png" err-src="img/no-people.png" class="img-circle" alt="User Image">
										<p>
											{{userInfo.username}}
											<small>{{listPermissoes}}</small>
										</p>
									</li>
									<!-- Menu Footer-->
									<li class="user-footer">
										<div class="pull-left" ng-hide="1 == 1">
											<a href="" class="btn btn-default btn-flat">Meu Perfil</a>
										</div>
										<div class="pull-right">
											<a href="" class="btn btn-default btn-flat" ng-click="logout()">Sair</a>
										</div>
									</li>
								</ul>
							</li>
						</ul>
					</div>

				</nav>
			</header>
			
			<div ng-include src="'/views/template/menuLateral.html'" class=""></div>

			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper" ng-class="{ 'specifyPage': especifico}">
<!-- 				<div ng-view></div> -->
				<div ui-view=""></div>

			</div><!-- /.content-wrapper -->

			<footer class="main-footer">
				<div class="pull-right hidden-xs">
					<b>Versão</b> 2.3.0
				</div>
				<strong>Copyright &copy; 2016 <a href="">Ape Software</a>.</strong> Todos os Direitos Reservados
			</footer>
	</div><!-- ./wrapper -->


	<!--DEPS -->
	<script src="scripts/vendor/polyfill.js"></script>
	<script src="scripts/vendor/jQuery/jQuery-2.1.4.min.js"></script>
	<script src="scripts/vendor/toastr/toastr.min.js"></script>
	<script src="scripts/vendor/icheck.min.js"></script>
	<script src="scripts/vendor/jquery.mask.min.js"></script>
	<script src="scripts/vendor/moment/moment.js"></script>
	
	<!-- LIB'S ANGULAR -->
	<script src="scripts/vendor/angular/angular.min.js"></script>
    <script src="scripts/vendor/ui-router.js"></script>
	<script src="scripts/vendor/angular/angular-resource.min.js"></script>
	<script src="scripts/vendor/ui-bootstrap-tpls-2.2.0.min.js"></script>
	<script src="scripts/modules/angular-moment.js"></script>
	<script type='text/javascript' src='scripts/modules/angular-loading-bar.js'></script>

	
	<!-- APP -->
	<script src="scripts/app.js"></script>
	<script src="scripts/appRoutes.js"></script>
	<script src="scripts/modules/mask.min.js"></script>
	<script src="scripts/modules/token.js"></script>
	<script src="scripts/modules/interceptor.js"></script>
	<script src="scripts/modules/multi-select.js"></script>

	<script src="scripts/factory/app.factory.js"></script>
	<script src="scripts/services/app.services.js"></script>
	<script src="scripts/directives/app.directive.js"></script>
	<script src="scripts/directives/abn-tree.js"></script>
	
	<!-- 	CONTROLLERS -->
	<script src="scripts/app.controllers.js"></script>

	<!-- Bootstrap 3.3.5 -->
	<script src="scripts/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!-- FastClick -->
	<script src="scripts/vendor/fastclick/fastclick.min.js"></script>
	<!-- AdminLTE App -->
	<script src="scripts/vendor/app.min.js"></script>
	<!-- Sparkline -->
	<script src="scripts/vendor/sparkline/jquery.sparkline.min.js"></script>
	<!-- jvectormap -->
	<script src="scripts/vendor/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
	<script src="scripts/vendor/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
	<!-- SlimScroll 1.3.0 -->
	<script src="scripts/vendor/slimScroll/jquery.slimscroll.min.js"></script>
	<!-- ChartJS 1.0.1 -->
	<script src="scripts/vendor/chartjs/Chart.min.js"></script>
	<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
	<!--     <script src="scripts/vendor/pages/dashboard2.js"></script> -->
	<!-- AdminLTE for demo purposes -->
	<script src="scripts/vendor/demo.js"></script>
	<script src="Lab/ScriptMenu.js"></script>
	<script>
		$('.tooltip-chafy').tooltip(); 
	</script>


</body>
</html>
