<section class="content-header">
	<h1>Cadastro de Fornecedores</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li><a href="#/fornecedor">Fornecedor</a></li>
		<li class="active">Cadastro</li>
	</ol>
</section>
<section class="content">
	<form class="form-horizontal" name="userForm" class="form-inline">
		<div class="box box-info">
			<div class="box-header with-border">
				<h3 class="box-title">Cadastro de Fornecedores</h3>
			</div>
			<div class="box-body">
				<div class="col-sm-12">
					<div class="form-group">
					<div class="col-sm-6">
							<label>Razão Social</label> <input type="text" name="razaosocial"

								class="form-control" ng-model="fornecedor.razaoSocial" required>
							<p ng-show="userForm.razaoSocial.$invalid && !userForm.razaoSocial.$pristine"
								class="help-block">Nome é obrigatório</p>
						</div>
						<div class="col-sm-6">
							<label>Fantasia</label> <input type="text" name="fantasia"
								class="form-control" ng-model="fornecedor.fantasia" required>
							<p
								ng-show="userForm.fornecedor.$invalid && !userForm.fantasia.$pristine"
								class="help-block">Fantasia é obrigatório</p>
						</div>
					<div class="col-sm-3">
								<label>Tipo Pessoa</label>
								<select class="form-control" ng-model="fornecedor.tipoPessoa" required>
									<option value="">Seleciona um registro</option>
									<option value="Jurídica">Jurídica</option>
									
								</select>
							</div>


					
						
						<div class="col-sm-3">
							<label>CNPJ</label> <input type="text" name="cnpj" 
								class="form-control" ng-model="fornecedor.cnpj" ui-mask="99.999.999/9999-99" ui-mask-placeholder required>
							<p
								ng-show="userForm.cnpj.$invalid && !userForm.cnpj.$pristine"
								class="help-block">CNPJ é obrigatório</p>
						</div>
						<div class="col-sm-3">
							<label>Inscrição Municipal</label> <input type="text" name="inscricaomunicipal"
								class="form-control" ng-model="fornecedor.inscMunicipal" required>
							<p
								ng-show="userForm.inscMunicipal.$invalid && !userForm.inscMunicipal.$pristine"
								class="help-block">Inscrição Municipal é Opcional</p>
						</div>
						<div class="col-sm-3">
							<label>Inscrição Estadual</label> <input type="text" name="inscricaoestadual"
								class="form-control" ng-model="fornecedor.inscEstadual" required>
							<p
								ng-show="userForm.inscEstadual.$invalid && !userForm.inscEtadual.$pristine"
								class="help-block">Inscrição Estadual é obrigatório</p>
						</div>
						<div class="col-sm-6">
							<label>Email</label> <input type="email" name="email"
								class="form-control" ng-model="fornecedor.email" required>
							<p ng-show="userForm.email.$invalid && !userForm.email.$pristine"
								class="help-block">Email é obrigatório</p>
						</div>
						<div class="col-sm-3">
							<label>Telefone</label> <input type="text" name="telefone"
								class="form-control" ng-model="fornecedor.telefone" ui-mask="(99)9999-9999" ui-mask-placeholder required>
							<p ng-show="userForm.telefone.$invalid && !userForm.telefone.$pristine"
								class="help-block">Telefone é obrigatório</p>
						</div>
						<div class="col-sm-3">
							<label>Celular</label> <input type="text" name="celular"
								class="form-control" ng-model="fornecedor.celular" ui-mask="(99)9999-99999" ui-mask-placeholder >
							<p ng-show="userForm.celular.$invalid && !userForm.celular.$pristine"
								class="help-block">Celular é opcional</p>
						</div>

						
</div>

<form class="form-horizontal" name="userForm" class="form-inline">
		<div class="box box-info">
<div class="box-body">
<div class="box-header with-border">
				<h3 class="box-title">Informações de Fornecedor</h3>
			</div>

<div class="col-sm-3">
								<label>Tipo Fornecedor</label>
								<select class="form-control" ng-model="fornecedor.tipoFornecedor" required>
									<option value="">Seleciona um registro</option>
									<option value="Fabricante">Fabricante</option>
									<option value="Materiais de Consumo">Materiais de Consumo</option>
									<option value="Matéria Prima">Matéria Prima</option>
									<option value="Oficina Mecânica">Oficina Mecânica</option>
									<option value="Prestador De Serviço">Prestador De Serviço</option>
									
								</select>
							</div>
</div>
</div>
</form>
					<div class="box-footer">
					<input class="btn btn-success pull-right" ng-click="cadastrarFornecedor()" ng-disabled="userForm.$invalid"  type="button" value="Salvar">
					<a href="#/fornecedor/consulta" class="btn btn-primary" role="button">Voltar para Pesquisa</a>
					
				</div>
					
					
				</div>
			</div>
			<div class="box-footer">

					
					</div>
		</div>
	</form>
	
</section>
