<div ng-cloak>
	<section class="content-header">
		<h1>
			Lista de Fornecedores
			<small></small>
		</h1>
			<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#/fornecedor">Fornecedor</a></li>
			<li class="active">Consulta de Fornecedores</li>
		</ol>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Fornecedores Disponíveis</h3>
						<div class="box-tools">
							<div class="input-group" style="width: 150px;">
								<input type="text" name="table_search" class="form-control input-sm pull-right" ng-model="nomeSearch" placeholder="Buscar...">
								<div class="input-group-btn">
									<button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
								</div>
							</div>
						</div>
					</div><!-- /.box-header -->
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tr>
								<th>Razão Social</th>
								<th>CNPJ</th>
								<th>Tipo Pessoa</th>
								<th>Telefone</th>
								<th></th>
								<th></th>
							</tr>
							<tr ng-repeat="row in listFornecedor| filter: nomeSearch">
								<td>{{row.razaoSocial}}</td>
								<td>{{row.cnpj}}</td>
								<td>{{row.tipoPessoa}}</td>
								<td>{{row.telefone}}</td>
								<td>
									<a href="#/fornecedor/cadastro/{{row.id}}">
										<i class="glyphicon glyphicon-pencil" ></i>
									</a>
								</td>
								<td>
									<i class="glyphicon glyphicon-remove click" ng-click="deletarFornecedor(row)"></i>   
								</td>
							</tr> 
						</table>
							<div class="box-footer">
					<a href="#/fornecedor/cadastro" class="btn btn-primary" role="button">Novo Fornecedor</a>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</section>
</div>