<!-- COM ATENDIMENTO -->
<header class="main-header" ng-show="atendimento != null">
	<nav class="navbar navbar-static-top atendimento">
		<div class="container">
			<div class="navbar-header">
				<a href="" class="navbar-brand"><b>APE</b>1.0</a>
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar-collapse">
					<i class="fa fa-bars"></i>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse pull-left" id="navbar-collapse">
				<ul class="nav navbar-nav">
					<li ui-sref-active="active">
						<a ui-sref=".associarCliente"> Cliente <span class="sr-only"></span></a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref=".ocorrencia"> Ocorrência <span class="sr-only"></span></a>
					</li>
					<li ui-sref-active="active">
						<a ui-sref=".finalizacao">Finalização <span class="sr-only">(current)</span></a>
					</li>
					<li><a ui-sref="dashboard">Sair</a></li>
				</ul>
			</div>
			<!-- /.navbar-collapse -->
			<!-- Navbar Right Menu -->
			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<!-- User Account Menu -->
					<li class="dropdown user user-menu">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">
							<span class="hidden-xs">Nº Atenidento: {{atendimento.id}} </span>
						</a>
					</li>

					<li class="dropdown user user-menu">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">
							<span class="hidden-xs">Cliente: {{atendimento.cliente.nome}} </span>
						</a>
					</li>
					<li class="dropdown user user-menu">
						<a href="" class="dropdown-toggle" data-toggle="dropdown">
							<span class="hidden-xs">Tempo: {{tempoAtendimento}}</span>
						</a>
					</li>
				</ul>
			</div>
			<!-- /.navbar-custom-menu -->
		</div>
		<!-- /.container-fluid -->
	</nav>
</header>
