<div ng-show="isAdmin">
	<section class="content-header" >
		<h1>
			DashBoard
			<small>Falta desenvolver</small>
		</h1>
		<ol class="breadcrumb">
			<li class="active">Dashboard</li>
		</ol>
	</section>

	<section class="content">
		<div class="row" ng-hide="1 == 1">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-light-blue"><i class="fa fa-ticket"></i></span>
					<div class="info-box-content">
						<span class="info-box-text">Atendimentos</span>
						<span class="info-box-number dashNumber">{{result.numeroAtendimento}}</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="info-box">
					<span class="info-box-icon bg-olive"><i class="fa fa-bars"></i></span>
					<div class="info-box-content">
						<span class="info-box-text">Ocorrências</span>
						<span class="info-box-number dashNumber">{{result.numeroOcorrencia}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="box box-danger">
					<div class="box-header with-border">
						<h3 class="box-title">Últimos 5 Membros do Sistema</h3>

						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
							</button>
							<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
							</button>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body no-padding">
						<ul class="users-list clearfix">
							<li ng-repeat="usuario in result.usuarios | limitTo:-5 | orderBy:'id':true">
								<img ng-src="img/{{usuario.usuario}}.png" err-src="img/no-people.png">
								<a class="users-list-name" href="#">{{usuario.usuario}}</a>
							</li>
						</ul>
						<!-- /.users-list -->
					</div>
					<!-- /.box-body -->
					<div class="box-footer text-center">
						<a href="" class="uppercase">Enviar Mensagem para Usuarios</a>
					</div>
					<!-- /.box-footer -->
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Atendimento em Aberto</h3>

						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
							</button>
							<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div class="table-responsive">
							<table class="table no-margin">
								<thead>
									<tr>
										<th>ID</th>
										<th>Cliente</th>
										<th>Atendente</th>
										<th>Hora</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="atendimento in result.atendimentos">
										<td>{{atendimento.id}}</td>
										<td>{{atendimento.cliente.nome}} {{atendimento.cliente.sobrenome}}</td>
										<td>{{atendimento.usuario.usuario}}</td>
										<td>{{atendimento.dtaInicio}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Ocorrencias não finalizadas</h3>

						<div class="box-tools pull-right">
							<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
							</button>
							<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
						</div>
					</div>
					<!-- /.box-header -->
					<div class="box-body">
						<div class="table-responsive">
							<table class="table no-margin">
								<thead>
									<tr>
										<th>ID</th>
										<th>Cliente</th>
										<th>Reponsável</th>
										<th>Status</th>
										<th>Área</th>
										<th>Tipo</th>
										<th>Prioridade</th>
										<th>Data Inicio</th>
										<th>Data Limite</th>

									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="ocorrencia in result.ocorrencias" ng-class="{'bg-red-active': ocorrencia.slaEstourado == true, 'bg-yellow' : ocorrencia.slaAlerta == true}">
										<td> <a class="text-black"  href="#/ocorrencia/{{ocorrencia.id}}"> {{ocorrencia.id}} </a></td>
										<td>{{ocorrencia.cliente.nome}} {{ocorrencia.cliente.sobrenome}}</td>
										<td>{{ocorrencia.usuario.usuario}}</td>
										<td>{{ocorrencia.status.nmeStatus}}</td>
										<td>{{ocorrencia.tipo.area.nome}}</td>
										<td>{{ocorrencia.tipo.label}}</td>
										<td>
											<span ng-class="{'bg-green': ocorrencia.prioridade.id == '1' ,'bg-yellow': ocorrencia.prioridade.id == '2' , 'bg-red': ocorrencia.prioridade.id == '3'}" class="label">{{ocorrencia.prioridade.nmePrioridade}}</span>
										</td>
										<td>{{ocorrencia.dataInicio}}</td>
										<td>{{ocorrencia.dataLimite}}</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<section class="content-header" ng-show="!isAdmin">
	<h1>Bem vindo, ao sistema </h1>
</section>