<!-- <div ng-include src="'/views/barAtendimento.html'" class="form-group"></div> -->
<div class="col-sm-12 form-group" ng-show="atendimento != null">
	<div class="box box-success">
		<div class="box-header with-border">
			<h3 class="box-title">ATENDIMENTO Nº {{atendimento.id}}</h3>
		</div>
		<div class="box-body">
			<div class="form-group">
				<textarea class="form-control" rows="3" ng-model="atendimento.descricao"
					placeholder="Descrição do Atendimento ..."></textarea>
			</div>
			<div class="form-group">
				<button type="button" class="btn btn-success" ng-click="finalizarAtendimento()">Finalizar</button>
			</div>
		</div>
		<!-- /.box-body -->
	</div>
</div>