  
    <div class="login-box">
      <div class="login-logo">
        <a href="../../index2.html"><b>APE</b>1.0</a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Tela de Login </p>
        <!-- <form action="" novalidate> -->
          <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Login" ng-model="usuario.username">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Senha" ng-model="usuario.password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <button class="btn btn-primary btn-block btn-flat" ng-click="efetuarLogin()">Entrar</button>
            </div><!-- /.col -->
          </div>
        <!-- </form> -->
        <a href="#">Esqueci minha senha</a><br>
      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->