<div>
	<section class="content-header">
		<h1>
			Cadastro de Modelo Veiculo
			<small></small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#/veiculo">Veiculo</a></li>
			<li class="active">Cadastro de Modelo</li>
		</ol>
	</section>
	<section class="content">
		<!-- form start -->
		<form class="form-horizontal" name="formModelo" action="" novalidate>
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">Cadastro de Modelo</h3>
				</div>
				<div class="box-body">
						<div class="form-group">
							<div class="col-sm-6">
								<label>Marca</label>
								<select class="form-control" ng-model="modelo.veiculoMarca" ng-options="item as item.nome for item in listMarcas track by item.id" required>
									<option value="">Seleciona um registro</option>
								</select>
							</div>
						</form>
						<div class="form-group">
							<div class="col-sm-4">
							<label>Modelo</label>
								<input type="text" class="form-control" ng-model="modelo.nome" required>
							</div>
					</div>
				</div>
				<div class="box-footer">
					<input class="btn btn-success pull-right" ng-click="cadastrarModelo()" ng-disabled="formModelo.$invalid" type="button" value="Salvar">
				</div>
			</div>
		</form>			
	</section>
</div>