<div>
	<section class="content-header">
		<h1>
			Cadastro da Marca do Veiculo
			<small></small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#/veiculo">Veiculo</a></li>
			<li class="active">Cadastro de Marca</li>
		</ol>
	</section>
	<section class="content">
		<!-- form start -->
		<form class="form-horizontal" name="formMarca" action="" novalidate>
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">Cadastro de Marca</h3>
				</div>
				<div class="box-body">
						<div class="form-group">
							<div class="col-sm-6">
								<label>Marca</label>
									<input type="text" ng-model="marca.nome" class="form-control" placeholder="Insira a Marca" required>
								</select>
							</div>
						</form>
					</div>
				</div>
				<div class="box-footer">
					<input class="btn btn-success pull-right" ng-click="salvarVeiculoMarca()" ng-disabled="formMarca.$invalid" type="button" value="Salvar">
				</div>
			</div>
		</form>			
	</section>
</div>