<div>
	<section class="content-header">
		<h1>
			Cadastro de Veiculos
			<small></small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#/veiculo">Veiculo</a></li>
			<li class="active">Cadastro</li>
		</ol>
	</section>
	<section class="content">
		<!-- form start -->
		<form class="form-horizontal" name="formVeiculo" action="" novalidate>
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">Cadastro de Veiculos</h3>
				</div>
				<div class="box-body">
					<div class="col-sm-12">
						<form action="" class="form-inline" novalidate>
						<div class="form-group">
							<div class="col-sm-6">
								<label>Cliente</label>
								<select class="form-control" ng-model="veiculo.cliente" ng-options="item as (item.nome + ' ' + item.sobrenome) for item in listCliente track by item.id" required>
									<option value="">Seleciona um registro</option>
								</select>
							</div>
							<div class="col-sm-6">
								<label>Marca</label>
								<select class="form-control" ng-model="veiculo.veiculoMarca" ng-options="item as item.nome for item in listMarcas track by item.id" ng-change="changeMarca()" required>
									<option value="">Seleciona um registro</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-3">
								<label>Modelo</label>
								<select class="form-control" ng-model="veiculo.veiculoModelo" ng-options="item as item.nome for item in listModelos track by item.id" required>
									<option value="">Selecione um registro</option>
								</select>
							</div>
							<div class="col-sm-3">
								<label>Cor</label>
								<select class="form-control" ng-model="veiculo.cor" ng-options="item as item.cor for item in listCor track by item.id" requried>
									<option value="">Seleciona um registro</option>
								</select>
							</div>
							<div class="col-sm-6">
								<label>Combustivel</label>
								<select class="form-control" ng-model="veiculo.combustivel" required>
									<option value="">Seleciona um registro</option>
									<option value="Alcool">Alcool</option>
									<option value="Gasolina">Gasolina</option>
									<option value="Flex">Flex</option>
									<option value="GNV">GNV</option>
									<option value="Eletrico">Eletrico</option>
									<option value="Agua">Agua</option>
									<option value="Eolico">Eolico</option>
									<option value="Solar">Solar</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-2">
								<label>Motorizacao</label>
								<input type="text" class="form-control" ng-model="veiculo.motorizacao" ui-mask="9.9" ui-mask-placeholder required>
							</div>
							<div class="col-sm-2">
								<label>Ano Modelo</label>
								<input type="text" class="form-control" ng-model="veiculo.ano" ui-mask="9999" ui-mask-placeholder required>
							</div>	
					
							<div class="col-sm-2">
								<label>Placa</label>
								<input type="text" class="form-control" ng-model="veiculo.placa" ui-mask="AAA-9999" ui-mask-placeholder required>
							</div>
							<div class="col-sm-6">
								<label>Observacao</label>
								<input type="text" ng-model="veiculo.observacao" placeholder="Insira uma observacao" class="form-control">
							</div>
								<div class="col-sm-3">
								<label>Chassi</label>
								<input type="text" class="form-control" ng-model="veiculo.chassi" ui-mask="9A.A9.99AA9.9.A.999999" ui-mask-placeholder>
							</div>
						</div>
						</form>
					</div>
				</div>
				<div class="box-footer">
					<input class="btn btn-success pull-right" ng-click="cadastrarVeiculoCliente()" ng-disabled="formVeiculo.$invalid" type="button" value="Salvar">
				</div>
			</div>
		</form>			
	</section>
</div>