<div ng-cloak>
	<section class="content-header">
		<h1>
			Lista de Marcas
			<small></small>
		</h1>
			<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#/veiculo">Veiculo</a></li>
			<li class="active">Consulta de Marcas</li>
		</ol>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Marcas cadastradas</h3>
						<div class="box-tools">
							<div class="input-group" style="width: 150px;">
								<input type="text" name="table_search" class="form-control input-sm pull-right" ng-model="nomeSearch" placeholder="Buscar...">
								<div class="input-group-btn">
									<button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
								</div>
							</div>
						</div>
					</div><!-- /.box-header -->
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tr>
								<th>Nome da Marca</th>
							</tr>
							<tr ng-repeat="row in listMarcas | filter:nomeSearch" ng-if='row.deletado==false'>
								<td>{{row.nome}}</td>


								<td>
									<a href="#/veiculo/cadastroMarca/{{row.id}}">
										<i class="glyphicon glyphicon-pencil" ></i>
									</a>
								</td>
								<td>
									<i class="glyphicon glyphicon-remove click" ng-click="deletarMarca(row.id)"></i>   
								</td>
							</tr> 
						</table>
					</div><!-- /.box-body -->
					<div class="box-footer text-right">
							<a href="#/veiculo/cadastroVeiculoMarca" class="btn btn-success">Nova Marca</a>
					</div>
				</div><!-- /.box -->
			</div>
		</div>
	</section>
</div>