<div ng-cloak>
	<section class="content-header">
		<h1>
			Lista de Veiculos
			<small></small>
		</h1>
			<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#/veiculo">Veiculo</a></li>
			<li class="active">Lista de Veiculos</li>
		</ol>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Veiculos por Cliente</h3>
						<div class="box-tools">
							<div class="input-group" style="width: 150px;">
								<input type="text" name="table_search" class="form-control input-sm pull-right" ng-model="nomeSearch" placeholder="Buscar...">
								<div class="input-group-btn">
									<button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
								</div>
							</div>
						</div>
					</div><!-- /.box-header -->
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tr>
								<th>Nome do Cliente</th>
								<th>Marca</th>
								<th>Modelo</th>
								<th>Ano</th>
								<th>Observacao</th>
								<th></th>
								<th></th>
							</tr>
							<tr ng-repeat="row in listarVeiculoCliente | filter: nomeSearch">
								<td>{{row.cliente.nome}}</td>
								<td>{{row.veiculoMarca.nome}}</td>
								<td>{{row.veiculoModelo.nome}}</td>
								<td>{{row.ano}}</td>
								<td>{{row.observacao}}</td>
								<td>
									<a href="#/veiculo/cadastro/{{row.id}}">
										<i class="glyphicon glyphicon-pencil" ></i>
									</a>
								</td>
								<td>
									<i class="glyphicon glyphicon-remove click" ng-click="deleteVeiculoCliente(row.id)"></i>   
								</td>
							</tr> 
						</table>
					</div><!-- /.box-body -->
					<div class="box-footer text-right">
						<a href="#/veiculo/cadastro" class="btn btn-success">Novo Veiculo</a>
					</div>
				</div><!-- /.box -->
			</div>
		</div>
	</section>
</div>