<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Novo Comentário</h3>
</div>
<div class="modal-body" id="modal-body">
    <textarea ng-model="comentario" class="form-control"></textarea>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="addComentario()">Gravar</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>