<style type="text/css">
	.ocorrencia-header{
		margin: 10px 0 20px 0;
		padding-bottom: 9px;
		border-bottom: 1px solid #eee;
	}

</style>

<!-- title row -->
<section class="content" style="background-color: #f9f9f9;" ng-init="init()">
	<div class="row">
		<section class="invoice">
			<div class="row">
				<div class="col-sm-12">
					<div class="ocorrencia-header clearfix">
						<div class="col-sm-4 text-left">
							<p><b>Responsável:</b> {{ocorrencia.usuario.nome}} {{ocorrencia.usuario.sobrenome}}</p>
						</div>
						<div class="col-sm-8 text-right">
							<div class="btn-group" role="group" aria-label="...">
								<button type="button" ng-hide="statusAtual == 4 || sameUser == false" ng-click="modal.servico.open()" class="btn btn-default">Adicionar Serviço</button>
								<button type="button" ng-hide="statusAtual == 4" ng-click="modal.comentario.open()" class="btn btn-default">Adicionar Comentario</button>
								<button type="button" ng-show="statusAtual == 2" ng-click="modal.status.open(listaStatus[0])" class="btn btn-default">Deixar em Aberto</button>
								<button type="button" ng-show="statusAtual == 1 || statusAtual == 3 || statusAtual == 5" class="btn btn-default" ng-click="modal.status.open(listaStatus[1])">Enviar para Analise</button>
								<button type="button" ng-show="statusAtual == 2" class="btn btn-default" ng-click="modal.status.open(listaStatus[2])">Enviar para Homologação</button>
								<button type="button" ng-show="statusAtual == 3 && sameUser == true" class="btn btn-default" ng-click="modal.status.open(listaStatus[3])">Finalizar Ocorrência</button>
								<button type="button" ng-show="statusAtual == 4" class="btn btn-default" ng-click="modal.status.open(listaStatus[4])">Reabrir Ocorrência</button>
								<!-- <div class="btn-group" role="group">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										Avançar Fluxo
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu">
										<li ng-show="statusAtual == 2" ><a href="">Aberto</a></li>
										<li ng-show="statusAtual == 1 || statusAtual == 3"><a href="">Analisando</a></li>
										<li ng-show="statusAtual == 2"><a href="">Homologando</a></li>
									</ul>
								</div> -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4 invoice-col">
					<div class="info-box bg-light-blue-active">
						<span class="info-box-icon"><i class="fa fa-user"></i></span>

						<div class="info-box-content">
							<span class="info-box-text">{{ocorrencia.cliente.nome}} {{ocorrencia.cliente.sobrenome}}</span>
							<span class="info-box-text">Celular: {{ocorrencia.cliente.contato.celular}}</span>
							<span class="info-box-text">Email: {{ocorrencia.cliente.contato.email}}</span>
							<!-- /.info-box-content -->
						</div>
					</div>
				</div>


				<div class="col-sm-4 invoice-col">
					<div class="info-box bg-light-blue-active">
						<span class="info-box-icon"><i class="fa fa-info-circle"></i></span>
						<div class="info-box-content">
							<span class="info-box-text">Status: {{ocorrencia.status.nmeStatus}}</span>
							<span class="info-box-text">Tipo:{{ocorrencia.tipo.label}}</span>
							<span class="info-box-text">Prioridade: {{ocorrencia.prioridade.nmePrioridade}}</span>
						</div>
					</div>
				</div>

				<div class="col-sm-4 invoice-col">
					<div class="info-box bg-light-blue-active">
						<span class="info-box-icon"><i class="fa fa-car"></i></span>

						<div class="info-box-content">
							<span class="info-box-text">Placa: {{ocorrencia.veiculo.placa}}</span>
							<span class="info-box-text">Marca: {{ocorrencia.veiculo.veiculoMarca.nome}}</span>
							<span class="info-box-text">Modelo: {{ocorrencia.veiculo.veiculoModelo.nome}}</span>
							<span class="info-box-text">Ano: {{ocorrencia.veiculo.ano}}</span>


							<!-- /.info-box-content -->
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>#</th>
								<th>Serviço</th>
								<th>Fornecedor</th>
								<th>Descrição</th>
								<th>Subtotal</th>
								<th>Status</th>
								<th>Dta.Aprovação</th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in ocorrencia.servicos">
								<td>{{row.id}}</td>
								<td>{{row.servico.nome}}</td>
								<td>{{row.servico.fornecedor.razaoSocial}}</td>
								<td>{{row.servico.descricao}}</td>
								<td>{{row.servico.valor  | currency:"R$"}}</td>
								<td ng-if="row.aprovado == null">Aguardando aprovação</td>
								<td ng-if="row.aprovado == true">Aprovado</td>
								<td ng-if="row.aprovado == false">Negado</td>
								<td>{{row.dtaAlteracao}}</td>
								<td><a href="" ng-click="excludeService(row.id)" ng-confirm-click="Deseja realmente Remover ?" ng-show="statusAtual != 4 && sameUser == true"> Remover </a> </td>
								<td><a ng-if="row.aprovado != true" href="" ng-click="aprovarService(row.id)" ng-show="statusAtual != 4 && sameUser == true"> Aprovar </a> </td>
							</tr>
				<!--tr>
					<td class="text-right" colspan="9">Items não aprovados: {{ordemServico.faltaAprovar}}</td>
				</tr-->
			</tbody>
		</table>
	</div>
	<!-- /.col -->
</div>
<div class="row">
	<div class="col-sm-12">
		<div class="table-responsive">
			<table class="table">
				<tbody>
					<tr>
						<th>Total:</th>
						<td>{{ordemServico.total | currency:"R$" }}</td>
					</tr>
					<tr ng-show="statusAtual != 4">
						<th>Total Aprovado:</th>
						<td>{{ordemServico.totalAprovado | currency:"R$" }}</td>
					</tr>
				</tbody></table>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 text-right">
			
		</div>
	</div>
</section>

</div>
</section>