<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Mudando Status para: {{status.nmeStatus}}</h3>
</div>
<div class="modal-body" id="modal-body">
	<h3 class="text-danger" ng-if="status.id == 4">Obs: Todos os serviços que não foram aprovados serão reprovados.</h3>
	<h5>Comentário</h5>
    <textarea ng-model="comentario" class="form-control"></textarea>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="action()">Efetuar</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>