<section class="content-header">
	<h1>Minhas Ocorrências<small></small></h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li><a href="#">Gerenciamento</a></li>
		<li class="active">Ocorrências</li>
	 </ol>
</section>


<section class="content">
	<div class="box box-default color-palette-box">
        <div class="box-body">
        	<uib-tabset active="active">
				<uib-tab index="0" heading="Pendentes">
					<div class="col-sm-12">
						<table class="table table-hover">
							<tbody>
								<tr>
									<th>ID</th>
									<th>Cliente</th>
									<th>Data Ínicio </th>
									<th>Prioridade</th>
									<th>Status</th>
									<th>Tipo</th>
								</tr>
								<tr ng-repeat="ocorrencia in userInfo.ocorrencias" ng-class="{'bg-red-active': ocorrencia.slaEstourado == true, 'bg-yellow-active' : ocorrencia.slaAlerta == true}">
									<td>
										<a class="text-black" href="#/ocorrencia/{{ocorrencia.id}}">{{ocorrencia.id}}</a>
									</td>
									<td>{{ocorrencia.cliente.nome}}</td>
									<td>{{ocorrencia.dataInicio}}</td>
									<td>
										<span ng-class="{'bg-green': ocorrencia.prioridade.id == '1' ,'bg-yellow': ocorrencia.prioridade.id == '2' , 'bg-red': ocorrencia.prioridade.id == '3'}" class="label">{{ocorrencia.prioridade.nmePrioridade}}</span>
									</td>
									<td>{{ocorrencia.status.nmeStatus}}</td>
									<td>{{ocorrencia.tipo.label}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</uib-tab>
				<uib-tab index="1" heading="Encerradas" select="processClose()">
					<div class="col-sm-12">
						<table class="table table-hover">
							<tbody>
								<tr>
									<th>ID</th>
									<th>Cliente</th>
									<th>Data Ínicio </th>
									<th>Prioridade</th>
									<th>Status</th>
									<th>Tipo</th>
									<th>Data Inicio</th>
									<th>Data Limite</th>
								</tr>
								<tr ng-repeat="ocorrencia in listaFinalizada">
									<td>
										<a href="#/ocorrencia/{{ocorrencia.id}}">{{ocorrencia.id}}</a>
									</td>
									<td>{{ocorrencia.cliente.nome}}</td>
									<td>{{ocorrencia.dataInicio}}</td>
									<td>
										<span ng-class="{'bg-green': ocorrencia.prioridade.id == '1' ,'bg-yellow': ocorrencia.prioridade.id == '2' , 'bg-red': ocorrencia.prioridade.id == '3'}" class="label">{{ocorrencia.prioridade.nmePrioridade}}</span>
									</td>
									<td>{{ocorrencia.status.nmeStatus}}</td>
									<td>{{ocorrencia.tipo.label}}</td>
									<td>{{ocorrencia.dataInicio}}</td>
									<td>{{ocorrencia.dataLimite}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</uib-tab>
			</uib-tabset>
        </div>
    </div>
</section>
      <!-- COLOR PALETTE -->


