<div class="box">
    <div class="box-header">
        <h3 class="box-title">Opções Ocorrência</h3>
    </div>
    <div class="box-body text-center">
        <a class="btn btn-app" ng-hide="true">
            <i class="fa fa-edit"></i> Adicionar Serviço
        </a>
        <a class="btn btn-app" ng-click="modal.comentario.open()">
            <i class="fa fa-comment-o"></i> Adicionar Comentario
        </a>
        <a class="btn btn-app" ng-hide="true">
            <i class="fa fa-save"></i> Atualizar Cliente
        </a>
        <a class="btn btn-app" ng-click="modal.status.open()">
            <i class="fa fa-check-square"></i> Mudar Status
        </a>
        <a class="btn btn-app" ng-hide="true">
            <i class="fa fa-repeat"></i> Reabrir
        </a>
        <a class="btn btn-app" ng-hide="true">
            <i class="fa fa-pause"></i> Mudar Status
        </a>
    </div>
    <!-- /.box-body -->
</div>