<div class="row">
	<div class="col-xs-12">
		<section class="invoice">
			<div class="row">
				<div class="col-xs-12">
					<!--div ng-include src="'/views/ocorrencia/janelas.html'" class=""></div-->
					<h2 class="page-header">
						<i class="fa fa-globe"></i> Ocorrência Nº: #{{ocorrencia.id}}
						<small class="pull-right">Data da Criação: {{ocorrencia.dataInicio}}</small>
					</h2>
				</div>
				<!-- /.col -->
			</div>
			<uib-tabset active="active">
				<uib-tab index="0" heading="Visualização Geral">
					<div ng-include src="'/views/ocorrencia/content.html'" class=""></div>
				</uib-tab>
				<uib-tab index="1" heading="Linha do Tempo" select="atualizarTimeLine()">
					<div ng-include src="'/views/ocorrencia/timeline.html'" class=""></div>
				</uib-tab>
			</uib-tabset>
		</section>
	</div>
</div>



