<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Adicionar Serviço</h3>
</div>
<div class="modal-body" id="modal-body">

	<h5>Serviço:</h5>
	<select class="form-control" ng-model="servico">
		<option value="">Selecione uma Opção</option>
		<option value="{{row.id}}" ng-repeat="row in servicos">{{row.nome}}</option>
	</select>

	<h5>Descrição:</h5>
    <textarea class="form-control" disabled></textarea>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="addServico()">Adicionar</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancelar</button>
</div>