<section class="content" style="background-color: #ecf0f5">

    <!-- row -->
    <div class="row">
        <div class="col-md-12">
            <!-- The time line -->
            <ul class="timeline">
                <!-- timeline time label -->
                <div ng-repeat="dia in timeline track by $index">
                    <li ng-show="$first" ng-hide="true">
                        <i class="fa fa-clock-o bg-gray"></i>
                    </li>
                    <li ng-repeat="row in dia">
                        <i class="{{row.icon}}"></i>

                        <div class="timeline-item" >
                            <span class="time">
                            <i class="fa fa-clock-o"></i> 
                            {{row.ago}}
                        </span>
                            <h3 class="timeline-header" ng-class="row.noText == true ? 'no-border' : '' ">
                                <a href="#">{{row.acao.usuario.nome}} {{row.acao.usuario.sobrenome}} </a>
                                <span>{{row.action}}</span>
                            </h3>
                            <div class="timeline-body" ng-show="row.noText == false"> 
                                {{row.acao.comentario}}
                            </div>
                            <div class="timeline-footer" ng-show="row.noText == false">
                                <!--<a class="btn btn-primary btn-xs">Read more</a>
                            <a class="btn btn-danger btn-xs">Delete</a>-->
                            </div>
                        </div>
                    </li>
                    <li class="time-label">
                        <span class="bg-red">{{dia[0].date}}</span>
                    </li>
                </div>
                <!-- /.timeline-label -->
                <!-- timeline item -->

                <!-- END timeline item -->

            </ul>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>