<!-- Content Header (Page header) -->
<div>
	<section class="content-header">
		<h1>
			Cadastro de Clientes Físico
			<small></small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#/cliente">Cliente</a></li>
			<li class="active">Cadastro</li>
		</ol>
	</section>
	<section class="content">
		<!-- form start -->
		<form class="form-horizontal" name="userForm" class="form-inline" ng-submit="cadastrarCliente()" novalidate>
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">Informações Basicas <span ng-show="cliente.id">ID: {{cliente.id}}</span></h3>
				</div>
				<div class="box-body">
					<!-- Primeira Linha -->
					<div class="form-group">
						<div class="col-sm-6">
							<input type="text" ng-model="cliente.nome" placeholder="Nome" name="nome" class="form-control" required>
						</div>
						<div class="col-sm-6">
							<input type="text" ng-model="cliente.sobrenome" name="sobrenome" placeholder="Sobrenome" class="form-control" required>
						</div>
					</div>
					<!-- Segunda Linha -->
					<div class="form-group">
						<div class="col-sm-2">
							<div class="input-group">
								<input type="text" ng-model="cliente.endereco.cep" class="form-control" placeholder="CEP" ui-mask="99999-999" ui-mask-placeholder>
								<span class="input-group-addon click" ng-click="consultaCep()"><i class="fa fa-database"></i></span>
							</div>
						</div>
						<div class="col-sm-5">
							<input type="text" ng-model="cliente.endereco.logradouro" placeholder="Logradouro" class="form-control">
						</div>
						<div class="col-sm-5">
							<input type="text" ng-model="cliente.endereco.complemento" placeholder="Complemento" class="form-control">
						</div>
					</div>
					<!-- Terceira Linha -->
					<div class="form-group">
						<div class="col-sm-2">
							<input type="text" ng-model="cliente.endereco.numero" class="form-control" placeholder="Número">
						</div>
						<div class="col-sm-3">
							<input type="text" ng-model="cliente.endereco.bairro" class="form-control" placeholder="Bairro">
						</div>
						<div class="col-sm-5">
							<input type="text" ng-model="cliente.endereco.cidade" class="form-control" placeholder="Cidade">
						</div>
						<div class="col-sm-2">
							<input type="text" ng-model="cliente.endereco.uf" ui-mask="AA" ui-mask-placeholder class="form-control" placeholder="UF">
						</div>
					</div>
						<div class="form-group">
	                    <div class="col-sm-3">
	                      <input class="form-control" placeholder="RG" ui-mask="99.999.999-9" ui-mask-placeholder ng-model="cliente.documento.rg" type="text">
	                    </div>
	                    <div class="col-sm-3">
	                      <input class="form-control" placeholder="CPF" ui-mask="999.999.999-99" ui-mask-placeholder ng-model="cliente.documento.cpf" type="text">
	                    </div>
	                    <div class="col-sm-6">
	                      <input class="form-control" placeholder="EMAIL" ng-model="cliente.contato.email" type="text">
	                    </div>
	                </div>
	                <div class="form-group">
	                    <div class="col-sm-3">
	                    	<input class="form-control" placeholder="TELEFONE RESIDENCIAL" ui-mask="(99) 9999-9999" ui-mask-placeholder ng-model="cliente.contato.telefone" type="text">
	                    </div>
	                    <div class="col-sm-3">
	                    	<input class="form-control" placeholder="TELEFONE EMPRESARIAL" ui-mask="(99) 9999-9999" ui-mask-placeholder ng-model="cliente.contato.telefoneEmpresarial" type="text">
	                    </div>
	                    <div class="col-sm-3">
	                    	<input class="form-control" placeholder="CELULAR" ng-model="cliente.contato.celular" ui-mask="(99) 99999-9999" ui-mask-placeholder type="text">
	                    </div>
	                    <div class="col-sm-3">
	                    	<input class="form-control" placeholder="CELULAR EMPRESARIAL" ui-mask="(99) 99999-9999" ui-mask-placeholder ng-model="cliente.contato.celularEmpresarial" type="text">
	                    </div>
	              	</div>
				</div>
				<div class="box-footer">
					<input class="btn btn-success pull-right" ng-disabled="userForm.$invalid" type="submit" value="Salvar">
				</div>
			</div>
		</form>			
	</section>
</div>