<div ng-cloak>
	<section class="content-header">
		<h1>
			Lista de Clientes
			<small></small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li class="active">Cliente</li>
		</ol>
	</section>
	<section class="content">
		<div class="row">
			<div class="col-xs-12">
				<div class="box">
					<div class="box-header">
						<h3 class="box-title">Pessoa Física</h3>
						<div class="box-tools">
							<div class="input-group" style="width: 150px;">
								<input type="text" name="table_search" class="form-control input-sm pull-right" ng-model="nomeSearch" placeholder="Buscar...">
								<div class="input-group-btn">
									<button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>
								</div>
							</div>
						</div>
					</div><!-- /.box-header -->
					<div class="box-body table-responsive no-padding">
						<table class="table table-hover">
							<tr>
								<th>Nome</th>
								<th>Endereço</th>
								<th>Telefone</th>
								<th>Celular</th>
								<th>CPF</th>
								<th></th>
							</tr>
							<tr ng-repeat="row in listCliente | filter: nomeSearch">
								<td>{{row.nome}}</td>
								<td>{{row.endereco.logradouro}}</td>
								<td>{{row.contato.telefone}}</td>
								<td>{{row.contato.celular}}</td>
								<td>{{row.documento.cpf}}</td>
								<td>
								<a href="#/cliente/cadastro/{{row.id}}">
								<i class="glyphicon glyphicon-pencil" ></i>
								</a>
								<i class="glyphicon glyphicon-remove click" ng-click="deleteCliente(row)"></i>   
								</td>
							</tr>
							
						</table>
					</div><!-- /.box-body -->
				</div><!-- /.box -->
			</div>
		</div>
	</section>
</div> 	