<section class="content">

          <div class="error-page">
            <h2 class="headline text-red">403</h2>
            <div class="error-content">
              <h3><i class="fa fa-warning text-red"></i> Oops! Você não possui permissão.</h3>
              <p>
                Entre em contato com administrador do sistema.
                <a href="#/dashboard">retornar para dashboard</a>.
              </p>
            </div>
          </div><!-- /.error-page -->

        </section>