<ul class="sidebar-menu" menu-tabs ng-controller="MenuController">
    <li class="header">MENU</li>
    <!--CLIENTE -->
    <li class="treeview">
        <a href="">
            <i class="fa fa-users"></i> <span>Cliente</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li ui-sref-active="active">
                <a ui-sref="cliente"><i class="fa fa-search"></i>Buscar</a>
            </li>
            <li ui-sref-active="active">
                <a ui-sref="cliente/cadastro"><i class="fa fa-plus-square-o"></i>Cadastrar</a>
            </li>
        </ul>
    </li>

    <li class="treeview">
        <a href="#/gerenciamento/ocorrencia">
            <i class="fa fa-tasks"></i>
                <span>Ocorrências</span> 
                <span class="pull-right-container">
                    <small ng-show="userInfo.ocorrencias.length > 0"class="label pull-right bg-yellow">{{userInfo.ocorrencias.length}}</small>
                </span>
            </i>
        </a>
    </li>

    <li class="treeview">
        <a href="">
            <i class="fa fa-database"></i> <span>Dados</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li>
                <a ui-sref="veiculo/consultaVeiculo"><i class="fa fa-car"></i>Veiculos</a>
            </li>
        </ul>
    </li>
    <!--VEICULO -->
    <!-- <li class="treeview">
        <a href="">
            <i class="fa fa-car"></i> <span>Veículo</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
        </ul>
    </li> -->
    <li class="treeview">
        <a href="">
            <i class="fa fa-ticket"></i> <span>Atendimento</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu" style="display: none;">
            <li class="">
                <a ng-click="newAtendimento()" href="#">
                    <i class="fa fa-play-circle"></i> <span>Novo Atendimento</span>
                </a>
            </li>
        </ul>
    </li>
    <li class="treeview" ng-show="isAdmin == true">
        <a href="">
            <i class="fa fa-cogs"></i> <span>Administração</span> <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu" style="display: none;">

            <li class="" ng-class="isActive('/usuario/cadastro')">
                <a ui-sref="usuario/cadastro">
                    <i class="fa fa-user"></i> <span>Usuário</span>
                </a>
            </li>
             <li class="">
                <a ui-sref="gerenciamento/ocorrencia/tipo">
                    <i class="fa fa-pencil"></i> <span>Árvore Ocorrência</span>
                </a>
            </li>

            <li class="">
                <a href=""><i class="fa fa-circle-o"></i>Veículo
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="display: none;">
                    <li>
                        <a ui-sref="veiculo/consultaModelo"><i class="fa fa-plus-square-o"></i>Modelo</a>
                    </li>
                    
                    <li>
                        <a ui-sref="veiculo/consultaMarca"><i class="fa fa-share"></i>Marcas</a>
                    </li>
                    
                    <li>
                        <a ui-sref="veiculo/consultaCor"><i class="fa fa-tint"></i>Cores</a>
                    </li>
                </ul>

            </li>
            <li class="">
                <a href=""><i class="fa fa-circle-o"></i>Serviço
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="display: none;">
                     <li>
                <a ui-sref="servico/consulta"><i class="fa fa-cog"></i>Adicionar</a>
            </li>

            <li>
                <a ui-sref="tipoServico/consulta"><i class="fa fa-exchange"></i>Adicionar Tipo</a>
            </li>
                </ul>
            </li>


            <li>
                <a ui-sref="fornecedor/consulta"><i class="fa fa-globe"></i>Fornecedor</a>
            </li>
        </ul>
    </li>
</ul>



<li class="" ng-hide="true">
                <a href="#"><i class="fa fa-circle-o"></i> Level One
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
                <ul class="treeview-menu" style="display: none;">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i> Level Two
                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                  </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                        </ul>
                    </li>
                </ul>
            </li>