<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar" ng-hide="especifico">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img ng-src="img/{{userInfo.username}}.png" err-src="img/no-people.png" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>{{userInfo.username}}</p>
                <a href=""><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
								<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
							</span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->

        <!-- ITEMS MENU -->
       <div ng-include src="'/views/template/itemsMenu.html'" class=""></div>

    </section>
    <!-- /.sidebar -->
</aside>