<div>
	<section class="content-header">
		<h1>
			Cadastro de Tipo de Servico
			<small></small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#/unidademedida">Tipo de Servico</a></li>
			<li class="active">Cadastro</li>
		</ol>
	</section>
	<section class="content">
		<!-- form start -->
		<form class="form-horizontal" name="tipoServicoForm" action="" novalidate>
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">Cadastro de Tipo de Servico</h3>
				</div>
				<div class="box-body">
					<div class="col-sm-12">
						<form action="" class="form-inline" novalidate>
					
						
						<div class="form-group">
							<div class="col-sm-4">
								<label>Nome</label>
								<input type="text" class="form-control" ng-model="tipoServico.nome"  placeholder="Digite o tipo de serviço" maxlength="30"  required="required"> 
							</div>

						
							<div class="col-sm-8">
								<label>Descrição</label>
								<input type="text" class="form-control" ng-model="tipoServico.descricao"  placeholder="Digite a descrição" required="required"> 
							</div>
								
							
						
						</div>
						</form>
					</div>
				</div>
				<div class="box-footer">
				 <input class="btn btn-primary pull-right" type="reset" value="Limpar"/>
					<input class="btn btn-success pull-right" ng-click="salvartipoServico()" ng-disabled="tipoServicoForm.$invalid" type="button" value="Salvar">
					<a href="#/tipoServico/consulta" class="btn btn-primary" role="button">Voltar para Pesquisa</a>
				</div>
			</div>
		</form>			
	</section>
</div>