<section class="content-header">
	<h1>Cadastro de Usuários</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
		<li><a href="#/veiculo">Usuário</a></li>
		<li class="active">Cadastro</li>
	</ol>
</section>
<section class="content">
	<form class="form-horizontal" name="userForm" class="form-inline"
	ng-submit="salvarUsuario()" novalidate>
	<div class="box box-info" ng-show="newUser == true">
		<div class="box-header with-border">
			<h3 class="box-title">Cadastro Usuário</h3>
		</div>
		<div class="box-body">
			<div class="col-sm-12">
				<div class="form-group">
					<div class="col-sm-3">
						<label>Nome</label> <input type="text" name="nome"
						class="form-control" ng-model="usuario.nome" required>
						<p ng-show="userForm.nome.$invalid && !userForm.nome.$pristine"
						class="help-block">Nome é obrigatório</p>
					</div>
					<div class="col-sm-3">
						<label>Sobrenome</label> <input type="text" name="sobrenome"
						class="form-control" ng-model="usuario.sobrenome" required>
						<p
						ng-show="userForm.sobrenome.$invalid && !userForm.sobrenome.$pristine"
						class="help-block">Sobrenome é obrigatório</p>
					</div>
					<div class="col-sm-6">
						<label>Email</label> <input type="email" name="email"
						class="form-control" ng-model="usuario.email" required>
						<p ng-show="userForm.email.$invalid && !userForm.email.$pristine"
						class="help-block">Email é obrigatório</p>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<label>Login</label> <input type="text" name="usuario"
						class="form-control" ng-model="usuario.usuario" required>
						<p ng-show="userForm.login.$invalid && !userForm.login.$pristine"
						class="help-block">Login é obrigatório</p>
					</div>
					<div class="col-sm-3">
						<label>Senha</label> <input type="password" name="senha"
						class="form-control" ng-model="usuario.senha" required>
						<p ng-show="userForm.senha.$invalid && !userForm.senha.$pristine"
						class="help-block">Senha é obrigatório</p>
					</div>
					<div class="col-sm-3">
						<label>Área</label> 
						<select class="form-control" ng-model="usuario.area" required>
							<option value="">Selecione um registro</option>
							<option ng-repeat="row in area" value="{{row.id}}">{{row.nome}}</option>
						</select>
						<p ng-show="userForm.area.$invalid && !userForm.area.$pristine"
						class="help-block">Área é obrigatorio</p>
					</div>
					<div class="col-sm-3">
						<label>Perfil</label>
						<select class="form-control" name="perfil" ng-model="usuario.perfil" required multiple="true" ng-options="item as item.permissao for item in listaPermissoes track by item.id">
						</select>
						<p ng-show="userForm.perfil.$invalid && !userForm.perfil.$pristine" class="help-block">Perfil é obrigatório</p>
					</div>

				</div>
				<div class="row form-group text-right">
					<div class="col-sm-12">
						<button class="btn btn-primary" type="button" ng-click="newUser = false">Cancelar</button>

						<button class="btn btn-success" type="submit"
						ng-disabled="userForm.$invalid">Salvar</button>
					</div>
				</div>
			</div>
		</div>
		<div class="box-footer"></div>
	</div>
</form>
<div class="box box-info" ng-hide="newUser == true">
	<div class="box-header with-border">
		<h3 class="box-title">Lista de Usuários</h3>
	</div>
	<div class="box-body">
		<table class="table table-hover">
			<tbody>
				<tr>
					<th>Nome</th>
					<th>Login</th>
					<th>E-mail</th>
					<th>Permissão</th>
					<th>Status</th>
					<th></th>
				</tr>
				<tr ng-repeat="row in listaUsuario">
					<td>{{row.nome}}</td>
					<td>{{row.usuario}}</td>
					<td>{{row.email}}</td>
					<td><span ng-repeat="row2 in row.perfil">["{{row2.permissao}}"]  </span></td>
					<td ng-show="row.habilitado == true">ATIVO</td>
					<td ng-hide="row.habilitado == true">DESATIVADO</td>
					<td><i class="fa fa-pencil-square click"
						ng-click="editUser(row)"></i></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="box-footer">
			<div class="form-group text-right">
				<div class="col-sm-12">
					<button class="btn btn-default" type="button" ng-click="novoUsuario()">Novo Usuário</button>
				</div>
			</div>

		</div>
	</div>
</section>
