<div class="col-sm-12 form-group" ng-show="cliente == null">
	<div class="box box-success">
		<div class="box-header with-border">
			<h3 class="box-title">Procure pelo cliente</h3>
		</div>
		<div class="box-body">
			<div class="form-group">
				<input type="text" class="form-control" ng-model="nomeCliente" />
			</div>
			<div class="form-group text-right">
				<button type="button" class="btn btn-success" ng-click="pesquisar()">Pesquisar</button>
			</div>
			<div class="box">
				<div class="box-header">
					<h3 class="box-title">Lista de Clientes</h3>
				</div>
				<div class="box-body no-padding">
					<table class="table table-striped">
						<tbody>
							<tr>
								<th>Nome</th>
								<th>RG</th>
								<th>CPF</th>
								<th>Editar</th>
								<th>Associar</th>
							</tr>
							<tr ng-repeat="row in listaClientes">
								<td>{{row.nome}} {{row.sobrenome}}</td>
								<td>{{row.documento.rg}}</td>
								<td>{{row.documento.cpf}}</td>
								<td>
									<i class="glyphicon glyphicon-edit click" style="font-size:18px" ng-click="editarDados(row.id)"></i>
								</td>
								<td>
									<i class="glyphicon glyphicon-share click" style="font-size:18px" ng-click="associaCliente(row.id)"></i>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- /.box-body -->
	</div>
</div>
<section class="content" ng-show="cliente">
	<!-- form start -->
	<form class="form-horizontal" name="userForm" class="form-inline" ng-submit="cadastrarCliente()" novalidate>
		<div class="box box-info">
			<div class="box-header with-border">
				<h3 class="box-title">Informações Basicas <span ng-show="cliente.id">ID: {{cliente.id}}</span></h3>
				<div class="box-tools pull-right">
					<div class="btn-group">
						<button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                    <i class="fa fa-wrench"></i></button>
						<ul class="dropdown-menu" role="menu">
							<li><a href="" ng-click="cliente = null">Trocar Cliente</a></li>
							<li><a href="" ng-click="editarDados(cliente.id)">Editar Cliente</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="box-body">
				<!-- Primeira Linha -->
				<div class="form-group">
					<div class="col-sm-6">
						<input type="text" ng-model="cliente.nome" placeholder="Nome" name="nome" class="form-control" required>
					</div>
					<div class="col-sm-6">
						<input type="text" ng-model="cliente.sobrenome" name="sobrenome" placeholder="Sobrenome" class="form-control" required>
					</div>
				</div>
				<!-- Segunda Linha -->
				<div class="form-group">
					<div class="col-sm-2">
						<div class="input-group">
							<input type="text" ng-model="cliente.endereco.cep" class="form-control" placeholder="CEP" ui-mask="99999-999" ui-mask-placeholder>
							<span class="input-group-addon click" ng-click="consultaCep()"><i class="fa fa-database"></i></span>
						</div>
					</div>
					<div class="col-sm-10">
						<input type="text" ng-model="cliente.endereco.logradouro" placeholder="Logradouro" class="form-control">
					</div>
				</div>
				<!-- Terceira Linha -->
				<div class="form-group">
					<div class="col-sm-5">
						<input type="text" ng-model="cliente.endereco.bairro" class="form-control" placeholder="Bairro">
					</div>
					<div class="col-sm-5">
						<input type="text" ng-model="cliente.endereco.cidade" class="form-control" placeholder="Cidade">
					</div>
					<div class="col-sm-2">
						<input type="text" ng-model="cliente.endereco.uf" ui-mask="AA" ui-mask-placeholder class="form-control" placeholder="UF">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<input class="form-control" placeholder="RG" ui-mask="99.999.999-9" ui-mask-placeholder ng-model="cliente.documento.rg" type="text">
					</div>
					<div class="col-sm-3">
						<input class="form-control" placeholder="CPF" ui-mask="999.999.999-99" ui-mask-placeholder ng-model="cliente.documento.cpf"
							type="text">
					</div>
					<div class="col-sm-6">
						<input class="form-control" placeholder="EMAIL" ng-model="cliente.contato.email" type="text">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-3">
						<input class="form-control" placeholder="TELEFONE RESIDENCIAL" ui-mask="(99) 9999-9999" ui-mask-placeholder ng-model="cliente.contato.telefone"
							type="text">
					</div>
					<div class="col-sm-3">
						<input class="form-control" placeholder="TELEFONE EMPRESARIAL" ui-mask="(99) 9999-9999" ui-mask-placeholder ng-model="cliente.contato.telefoneEmpresarial"
							type="text">
					</div>
					<div class="col-sm-3">
						<input class="form-control" placeholder="CELULAR" ng-model="cliente.contato.celular" ui-mask="(99) 99999-9999" ui-mask-placeholder
							type="text">
					</div>
					<div class="col-sm-3">
						<input class="form-control" placeholder="CELULAR EMPRESARIAL" ui-mask="(99) 99999-9999" ui-mask-placeholder ng-model="cliente.contato.celularEmpresarial"
							type="text">
					</div>
				</div>
			</div>
			<div class="box-footer text-right" ng-hide="true">
				<input class="btn btn-success form-control" ng-click="editarDados(cliente.id)" type="button" value="Atualizar">
				<button class="btn btn-danger form-control" ng-click="cliente = null">Trocar cliente</button>
			</div>
		</div>
	</form>
</section>