<div class="col-sm-12 box box-solid" style="padding-top: 15px" ng-hide="atendimento.cliente == null">
	<uib-tabset active="active">
		<uib-tab index="0" heading="Nova Ocorrência">
			
			<div class="col-sm-4 form-group">
				<div class="row">
					<div class="box box-solid">
						<div class="box-header with-border">
							<i class="fa fa-list-ul"></i>
							<h3 class="box-title">Tipo</h3>
						</div>
						<div class="box-body">
							<abn-tree tree-data="treeview" on-select="selectedBranch(branch)"></abn-tree>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="box box-solid">
						<div class="box-header with-border">
							<i class="fa fa-list-ul"></i>
							<h3 class="box-title">Veículos</h3>
						</div>
						<div class="box-body">
							<select class="form-control" ng-model="ocorrencia.veiculo">
								<option value="">Selecione um veículo</option>
								<option ng-repeat="veiculo in veiculos" value="{{veiculo.id}}">{{veiculo.veiculoMarca.nome}}  {{veiculo.veiculoModelo.nome}} - {{veiculo.ano}}</option>
							</select>
							<!-- <ul class="nav nav-stacked">
								<li ng-repeat="veiculo in veiculos"><a href="">{{veiculo.veiculoMarca.nome}}  {{veiculo.veiculoModelo.nome}} - {{veiculo.ano}}
								<span class="pull-right badge bg-blue" onclick="console.log('oi')"><i class="fa fa-list-ul"></i></span>
								</a></li>
							</ul> -->
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-8 form-group" ng-show="ocValid != true">
				<h2 class="text-center">Escolha um Tipo de Ocorrência de ultimo nível</h2>
			</div>
			<div class="col-sm-8 form-group" ng-show="ocValid == true">
				<div class="box box-solid">
					<div class="box-header with-border">
						<i class="fa fa-list-ul"></i>
						<h3 class="box-title">Ocorrência</h3>
					</div>
					<div class="box-body">
						<div class="col-sm-3 form-group">
							<label>Prioriedade</label>
							<select class="form-control" ng-model="ocorrencia.prioridade">
								<option value="">Selecione um registro</option>
								<option ng-repeat="row in prioridades" value="{{row.id}}">{{row.nmePrioridade}}</option>
							</select>
						</div>
						<div class="col-sm-3 form-group">
							<label>Area</label>
							<select class="form-control" ng-model="ocorrencia.area">
								<option value="">Selecione um registro</option>
								<option ng-repeat="row in area" value="{{row.id}}">{{row.nome}}</option>
							</select>
						</div>
						<div class="col-sm-3" style="padding-top: 30px">
							 <label>
      							<input icheck type="checkbox" ng-change="selecionaUsuario()" ng-model="outroUsuario" ng-checked="outroUsuario == true"><span style="margin-left: 10px;">Outro Usuário</span>
    							</label>
						</div>
						<div class="col-sm-3 form-group" ng-show="outroUsuario == true">
							<label>Usuário Solucionador</label>
							<select class="form-control" ng-model="ocorrencia.usuarioSelecionado">
							<option value="0">Distribuição Automatica</option>
							<option ng-repeat="row in usuarios" value="{{row.id}}">{{row.nome}} {{row.sobrenome}}</option>
						</select>
						</div>
						<div class="col-sm-3 form-group" ng-hide="true">
							<label>Status</label>
							<select class="form-control" ng-model="ocorrencia.status">
							<option value="">Selecione um registro</option>
							<option ng-repeat="row in status" value="{{row.id}}">{{row.nmeStatus}}</option>
						</select>
						</div>
						<div class="col-sm-12 form-group">
							<label> Descrição</label>
							<textarea class="form-control" rows="5" ng-model="ocorrencia.dscOcorrencia"></textarea>
						</div>
						<div class="col-sm-12 form-group text-right">
							<button class="btn btn-danger" ng-click="gerarOcorrencia()" ng-hide="ocorrencia.id">Gerar Ocorrência</button>
							<button class="btn btn-success" ng-show="ocorrencia.id">Salvar Ocorrência</button>
						</div>
					</div>
				</div>
			</div>
		</uib-tab>
		<uib-tab index="1" heading="Histórico Cliente" disable="atendimento.cliente == null">
			<div class="col-sm-12 form-group" ng-hide="1 == 0">

				<div class="box-body table-responsive no-padding">
					<table class="table table-hover">
						<tbody>
							<tr>
								<th>Nº Ocorrencia</th>
								<th>Nº Atendimento</th>
								<th>Descrição</th>
								<th>Data de Abertura</th>
								<th>Motivo</th>
								<th>Status</th>
							</tr>
							<tr ng-repeat="row in historico">
								<td>{{row.id}}</td>
								<td>{{row.atendimento.id}}</td>
								<td>{{row.dscOcorrencia}}</td>
								<td>{{row.dataInicio}}</td>
								<td>{{row.tipo.label}}</td>
								<td>{{row.status.nmeStatus}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- /.box-body -->

				<!-- /.box -->
			</div>
		</uib-tab>
	</uib-tabset>
</div>

<div class="col-sm-12 box box-solid" style="padding-top: 15px" ng-hide="atendimento.cliente != null">
	<h1 class="text-center">Favor Associar um Cliente a ocorrência.</h1>
</div>