<div>
	<section class="content-header">
		<h1>
			Cadastro de Segmento
			<small></small>
		</h1>
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
			<li><a href="#/segmento">Unidade de Medida</a></li>
			<li class="active">Cadastro</li>
		</ol>
	</section>
	<section class="content">
		<!-- form start -->
		<form class="form-horizontal" action="" novalidate>
			<div class="box box-info">
				<div class="box-header with-border">
					<h3 class="box-title">Cadastro de Segmento</h3>
				</div>
				<div class="box-body">
					<div class="col-sm-12">
						<form action="" class="form-inline" novalidate>
					
						
						<div class="form-group">
							<div class="col-sm-3">
								<label>Descrição</label>
								<input type="text" class="form-control" ng-model="segmento.descricao"  placeholder="Digite o segmento "  required="required"> 
							</div>

						
												
						
						</div>
						</form>
					</div>
				</div>
				<div class="box-footer">
					<input class="btn btn-success pull-right" ng-click="salvarSegmento()" type="button" value="Salvar">
				</div>
			</div>
			
		</form>	


	</section>
	
</div>